.cart {
    padding: 20px;
    background-color: rgb(23, 23, 59);
    width: 500px;
    border-radius: 8px;

    box-shadow: 5px 5px 5px  rgb(87, 88, 2);
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .cart ul li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

    box-shadow: 5px 5px 5px  rgb(87, 88, 2);
  }
  